<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Android.Support.Design" version="23.1.1" targetFramework="monoandroid50" />
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.1.1" targetFramework="monoandroid50" />
  <package id="Crosslight.Xamarin.Android.Support.v7.AppCompat" version="23.1.1" targetFramework="monoandroid50" />
  <package id="Crosslight.Xamarin.Android.Support.v7.CardView" version="23.1.1" targetFramework="monoandroid50" />
  <package id="Crosslight.Xamarin.Android.Support.v7.RecyclerView" version="23.1.1" targetFramework="monoandroid50" />
  <package id="Intersoft.Crosslight" version="5.0.5000.706" targetFramework="monoandroid50" />
  <package id="Intersoft.Crosslight.Android.v7" version="5.0.5000.706" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid70" />
</packages>